html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.heading {
  padding-top: 2.5rem;
  text-align: center;
}

.lazy-load-container {
  width: 100%;
  max-width: 650px;
  padding-bottom: calc(650px / 1.5);
}
